@import url('https://fonts.googleapis.com/css?family=Caveat');

.navbar {
    position: relative;
    height: 4em;
    background: #B4ECED;
    font-family: 'Caveat', sans-serif;
}

.navbar h2 {
    position: absolute;
    font-size: 2.5em;
    bottom: 0;
    left: 1em;
    line-height: 4rem;
}

.navbar ul {
    position: absolute;
    right: 0;
    bottom: 0;
    list-style-type: none;
}

.navbar li {
    position: relative;
    display: inline-block;
    width: 4em;
    text-align: center;
    margin-right: 1em;
    font-size: 1.5em;
    line-height: 4rem;
}

.navbar li:hover {
    font-family: sans-serif;
}

.navbar a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1200px) {
    .navbar {
        height: 9em;
    }
    
    .navbar h2 {
        top: 0.5rem;
        left: 0;
        font-size: 4em;
        width: 100%;
        text-align: center;
    }

    .navbar ul {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .navbar li {
        font-size: 2.5em;
        margin: 0 0.5em;
    }
}
