@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@font-face {
    font-family: font_main;
    src: url("../ylee_mhim.ttf");
}

.navbar {
    position: relative;
    height: 4em;
    background: #B4ECED;
    font-family: 'font_main', sans-serif;
    font-weight: bold;
}

.navbar h2 {
    position: absolute;
    font-size: 2.5em;
    bottom: 0;
    left: 1em;
    line-height: 4rem;
}

.navbar ul {
    position: absolute;
    right: 0;
    bottom: 0;
    list-style-type: none;
}

.navbar li {
    position: relative;
    display: inline-block;
    width: 4em;
    text-align: center;
    margin-right: 1em;
    font-size: 2em;
    line-height: 4rem;
}

.navbar li:hover {
    font-family: 'Open Sans Condensed'
}

.navbar a {
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .navbar {
        height: 9em;
    }
    
    .navbar h2 {
        top: 1.5rem;
        left: 0;
        font-size: 4em;
        width: 100%;
        text-align: center;
    }

    .navbar ul {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .navbar li {
        font-size: 2.5em;
        margin: 0 0.5em;
    }
}

@media screen and (max-width: 1050px) {
    .navbar li {
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .navbar li {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .navbar li {
        font-size: 1.5em;
    }
}
