@font-face {
    font-family: font_main;
    src: url("../ylee_mhim.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'font_main', serif;
}

h1 {
    position: relative;
    width: 100%;
    margin: 5% 0;
    text-align: center;
    font-size: 5em;
}

.masonry {
    width: 80%;
    margin: 0 auto;
    column-count: 3;
    column-gap: 1em;
}

.item {
    display: inline-block;
    width: 100%;
    margin: 0 0 1em;
    cursor: pointer;
}

.item--image {
    position: relative;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.item--bg {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.zoomed > .item--image {
    position: fixed;
    width: auto;
    height: auto;
    max-height: 90%;
    max-width; 90%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 95;
}

.zoomed::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    z-index: 90;
}

.zoomed::after {
    content: 'X';
    position: fixed;
    font-size: 2em;
    text-shadow: 0 0 5px #000;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    top: 0;
    right: 0;
    margin: 2em;
    color: #fff;
    z-index: 99;
}

.zoomed-bg {
    opacity: 1;
    filter: blur(15px);
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
    z-index: 90;
}

.stop-scroll {
    overflow: hidden;
}


@media screen and (max-width: 1500px) {
    .masonry {
        width: 90%;
        column-count: 2;
    }
}

@media screen and (max-width: 1200px) {
    .masonry {
        column-count: 1;
    }
}
