@import url('https://fonts.googleapis.com/css?family=Caveat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Caveat', serif;
    overflow: hidden;
}

h1 {
    position: absolute;
    font-size: 3em;
    right: 2%;
    bottom: 80%;
}

.accordion {
    position: absolute;
    top: 20%;
    height: 60%;
    width: 100%;
    background: turquoise;
}

.accordion_inner {
    position: absolute;
    height: 100%;
    width: 80%;
    left: 10%;
}

.panel {
    display: block;
    float: left;
    position: relative;
    top: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    overflow: hidden;
    filter: grayscale(1);
    cursor: pointer;
}

.panel_active {
    height: 150%;
    top: -25%;
    filter: grayscale(0);
}

.panel h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    vertical-align: bottom;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
